---
---
@import 'variables';

.foo {
  color: $color;
}


.clip:focus { clip: auto; }

p a{
  text-decoration: none;
  border-bottom: 1px dashed #ccc;
  color: #E7040F;
}
p a:hover {
  color: black;
}
