---
layout: default
---
{% include global/hero.html %}
<div id="content" class="cf center pa3 pa4-m pa5-l mw9 dark-gray bb">

  <div class="center f3 pb3 tc">
    {{ page.content | markdownify }}
  </div>


  {% assign data = site.about | sort: 'order' %}
  {% for object in data  %}
    <div id="{{ object.slug }}" class="{% if forloop.index == 1  %}pb3 {% else  %}pv3 {% endif %}bb b--black-10 cf">
      <div class="tc pb5">
        <h1 class="f2 fw9 mb0 dark-red ttu">
          {{ object.title | markdownify | remove: '<p>' | remove: '</p>'  }}
        </h1>
        {% if object.content %}
          <div class="f4 center tl measure link">
            {{ object.content | markdownify }}
          </div>
        {% endif %}
      </div>
      <div class="flex-ns">
        {% for object in object.section %}
          <div class="fl w-100 pa3 w-50-ns tcTK">
            <h2 class="fw8">
              {{ object.section_title | markdownify | remove: '<p>' | remove: '</p>' }}
            </h2>
            <div class="f5 pr4">
              {{ object.section_copy | markdownify }}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
